* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    padding: 16px 0;
}

nav {
    max-width: 85%;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 152%;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
}

#banner {
    margin-top: 16px;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
}

#banner .banner-container {
    max-width: 85%;
    width: 1360px;
    margin: 0 auto;
    padding: 115.5px 120px 179.5px;
    text-align: center;
}

#banner .btn-top {
    font-size: 16px;
    color: #469165;
    font-weight: 500;
    padding: 8px 12px;
    border: none;
    border-radius: 100px;
    margin-bottom: 16px;
}

.banner-heading h2 {
    font-size: 72px;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-heading .heading-color {
    color: #30B868;
}

.banner-heading p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 32px;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    padding: 16.5px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 16px;
}

.btn-play {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
}

#notes {
    margin: 0;
}

#notes .notes-container {
    max-width: 85%;
    width: 1360px;
    margin: 0 auto;
}

.notes-heading {
    text-align: center;
}

.notes-heading h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.notes-heading p {
    font-size: 16px;
    color: #627382;
    line-height: 28px;
    margin-bottom: 44px;
}

.box-container {
    margin-top: 44px;
    display: flex;
    gap: 24px;
    text-align: center;
}

.card-info {
    padding: 69.5px 24px;
    box-shadow: 0 0 8px #000000;
}

.card-info img {
    background-color: #F95555;
    padding: 15px 16px;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.card-info h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card-info p {
    font-size: 16px;
    line-height: 28px;
    color: #627382;
}

#brain {
    padding: 120px;
}

#brain .brain-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.brain-container .solution {
    font-size: 16px;
    color: #469165;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 469165;
}

.brain-container h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.brain-container .brain-p {
    font-size: 16px;
    color: #627382;
    line-height: 28px;
}

.idea {
    margin-top: 40px;
}

.idea p {
    font-size: 16px;
    font-weight: bolder;
    color: #001931;
    line-height: 20px;
    margin-bottom: 16px;
}

#ready {
    margin-top: 2px;
    padding: 80px 40px;
    margin: 0 auto;
}

#ready .ready-container {
    max-width: 85%;
    width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.ready-container h2 {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.ready-container p {
    font-size: 16px;
    line-height: 28px;
    color: #627382;
}

#ready .access {
    margin-top: 24px;
}

#ready .access p {
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

footer {
    padding: 120px 0 30px;
    background-color: #001931;
}

.footer {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social p{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social a img {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 16px;
}